form {
  display: flex;
  flex-flow: column;
  align-items: center;
}
input {
  line-height: 1.42857143;
  width: 20vw;
  border-color: steelblue;
  border-radius: 5px;
}

label {
  padding-top: 10px;
  color: steelblue;
  font-weight: 500;
}

button {
  margin-top: 7px;
  margin-bottom: 10px;
  color: steelblue;
  border-radius: 5px;
  padding: 2px 4px;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
}

.error {
  margin-top: 8px;
  color: rgb(209, 35, 50);
}
